openapi: 3.0.3
info:
  title: NEXUS API
  version: "4.0.0"
  description: |
    **Statut : document de conception — aucune infrastructure n'est encore déployée en production.**

    Cette spécification décrit deux mécaniques distinctes, à ne jamais confondre :

    1. **Connecteur caisse (lecture seule)** — `GET /v1/sales`. NEXUS interroge le logiciel de caisse (Decenium)
       pour lire les ventes. Aucune opération d'écriture n'est jamais effectuée vers la caisse. Ce flux n'est
       **pas encore en service** : il est documenté ici à titre de cible, en attendant l'obtention d'une clé API
       Decenium. L'export manuel actuel reste valide tant que ce connecteur n'est pas actif.
    2. **Déclarations terrain (écriture)** — `controles-stock`, `campagnes`, `campagnes/{id}/imports`,
       `marge-exceptions`. Un outil ou une personne envoie une déclaration à NEXUS. Ces endpoints sont ceux dont
       la mise en œuvre est priorisée en premier.

    Référence complète : `NEXUS-API-Specification-v4.md` (document interne) et
    `NEXUS-Guide-Integration-Editeurs-Caisse-v1.md` (guide destiné aux éditeurs de logiciels de caisse).
  contact:
    name: NEXUS Conseil
    email: contact@nexusconseil.net
  license:
    name: Usage interne et partenaires — tous droits réservés

servers:
  - url: https://api.nexusconseil.net/v1
    description: Cible de production (non déployée à ce stade — URL indicative)

tags:
  - name: Connecteur caisse
    description: Lecture seule. NEXUS interroge la caisse — aucune écriture n'est jamais effectuée vers elle.
  - name: Déclarations terrain
    description: Écriture. Un outil ou une personne envoie une déclaration à NEXUS.

paths:
  /sales:
    get:
      tags: [Connecteur caisse]
      summary: Lire les lignes de vente (synchronisation différentielle)
      description: |
        **Non en service** — endpoint cible, en attente de la clé API Decenium. Documenté ici pour fixer le
        contrat attendu. Lecture seule : NEXUS ne peut ni créer, ni modifier, ni supprimer une donnée côté caisse.

        La synchronisation est différentielle : NEXUS ne redemande jamais l'intégralité des ventes, seulement ce
        qui a changé depuis sa dernière synchronisation réussie (`updated_since`). La pagination se fait par
        curseur (`next_cursor`), jamais par numéro de page, et s'arrête sur `has_more: false` — jamais sur la
        taille du lot.
      security:
        - deceniumReadOnlyKey: []
      parameters:
        - name: updated_since
          in: query
          required: false
          description: Ne renvoyer que les enregistrements modifiés après cet horodatage.
          schema:
            type: string
            format: date-time
          example: "2026-07-29T14:00:00Z"
        - name: limit
          in: query
          required: false
          description: Nombre maximal d'enregistrements par page.
          schema:
            type: integer
            default: 500
            maximum: 1000
        - name: cursor
          in: query
          required: false
          description: Curseur opaque renvoyé par l'appel précédent (`next_cursor`). Prioritaire sur `updated_since` si fourni.
          schema:
            type: string
      responses:
        "200":
          description: Page de lignes de vente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SaleLine"
                  has_more:
                    type: boolean
                    description: Condition d'arrêt de la pagination — ne jamais s'arrêter sur la taille du lot seule.
                  next_cursor:
                    type: string
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"

  /controles-stock:
    post:
      tags: [Déclarations terrain]
      summary: Déclarer un contrôle stock
      description: Un enregistrement par article contrôlé. L'écart est calculé côté serveur, jamais fourni par l'appelant.
      security:
        - nexusApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ControleStockInput"
            example:
              article: "HEINEKEN 25CL"
              quantite_theorique: 48
              quantite_comptee: 44
              controle_le: "2026-07-30T18:15:00Z"
      responses:
        "201":
          description: Contrôle stock enregistré.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ControleStock"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /campagnes:
    post:
      tags: [Déclarations terrain]
      summary: Déclarer une campagne
      security:
        - nexusApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampagneInput"
            example:
              nom: "Promo été bières 2026"
              date_debut: "2026-08-01"
              date_fin: "2026-08-31"
              type: "remise_prix"
              produits_concernes: ["HEINEKEN 25CL", "DESPERADOS RED"]
              nature: "prix_barre"
              objectif: "volume"
              objectif_libre: null
      responses:
        "201":
          description: Campagne enregistrée.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campagne"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /campagnes/{campagne_id}/imports:
    post:
      tags: [Déclarations terrain]
      summary: Déclarer un import de mesure avant/pendant campagne
      security:
        - nexusApiKey: []
      parameters:
        - name: campagne_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampagneImportInput"
            example:
              phase: "avant"
              periode_debut: "2026-07-01"
              periode_fin: "2026-07-31"
      responses:
        "201":
          description: Import enregistré.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampagneImport"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /marge-exceptions:
    post:
      tags: [Déclarations terrain]
      summary: Déclarer une exception de marge assumée
      security:
        - nexusApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MargeExceptionInput"
            example:
              article: "PACK LORRAINE 6X33CL"
              categorie: "Bières"
              raison: "Levier de prix dégressif par quantité — marge réduite assumée"
      responses:
        "201":
          description: Exception de marge enregistrée.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MargeException"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    nexusApiKey:
      type: http
      scheme: bearer
      description: Clé API NEXUS par site (`api_keys`). Chaque requête n'écrit que sur le site associé à la clé. Expiration obligatoire, révocable immédiatement.
    deceniumReadOnlyKey:
      type: http
      scheme: bearer
      description: Clé API fournie par Decenium, à portée lecture seule côté Decenium. NEXUS ne dispose d'aucun moyen d'écrire vers la caisse.

  schemas:
    SaleLine:
      type: object
      description: |
        Ligne de vente telle que lue depuis la caisse. `margin_amount_ht` et `margin_rate` ne sont jamais
        fournis par la caisse — ils sont calculés côté NEXUS lors de la normalisation.
      required: [id, created_at, updated_at, status]
      properties:
        id: { type: string, example: "sl_987654" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        status: { type: string, enum: [completed, refunded, voided] }
        ticket_id: { type: string }
        register_id: { type: string }
        employee_id: { type: string }
        shift_id: { type: string }
        sold_at: { type: string, format: date-time }
        product_id:
          type: string
          description: Clé de rapprochement produit — jamais `label`.
        barcode: { type: string }
        category: { type: string }
        quantity: { type: number }
        unit_sale_price_ht: { type: number }
        unit_sale_price_ttc: { type: number }
        unit_purchase_price_ht: { type: number }
        cost_method:
          type: string
          enum: [cmp, dernier_achat]
          description: Méthode de valorisation du coût — nécessaire pour interpréter correctement la marge.
        currency: { type: string, example: "EUR" }
        vat_rate: { type: number }
        discount_ttc: { type: number }
        total_ttc: { type: number }

    ControleStockInput:
      type: object
      required: [article, quantite_theorique, quantite_comptee]
      properties:
        article:
          type: string
          description: Doit exister dans `products` pour ce site.
        quantite_theorique: { type: number, minimum: 0 }
        quantite_comptee: { type: number, minimum: 0 }
        controle_le:
          type: string
          format: date-time
          description: Défaut — instant de réception. Ne peut pas être dans le futur.
    ControleStock:
      allOf:
        - $ref: "#/components/schemas/ControleStockInput"
        - type: object
          properties:
            id: { type: string, format: uuid }
            ecart:
              type: number
              description: Calculé côté serveur — jamais fourni par l'appelant.

    CampagneInput:
      type: object
      required: [nom, date_debut, date_fin, type, produits_concernes, nature, objectif]
      properties:
        nom: { type: string }
        date_debut: { type: string, format: date }
        date_fin: { type: string, format: date, description: "Doit être ≥ date_debut." }
        type: { type: string }
        produits_concernes:
          type: array
          items: { type: string }
          minItems: 1
          description: Chaque article doit exister dans `products`.
        nature: { type: string }
        objectif: { type: string }
        objectif_libre: { type: string, nullable: true }
    Campagne:
      allOf:
        - $ref: "#/components/schemas/CampagneInput"
        - type: object
          properties:
            id: { type: string, format: uuid }

    CampagneImportInput:
      type: object
      required: [phase, periode_debut, periode_fin]
      properties:
        phase: { type: string, enum: [avant, pendant] }
        periode_debut: { type: string, format: date }
        periode_fin: { type: string, format: date, description: "Doit être ≥ periode_debut." }
    CampagneImport:
      allOf:
        - $ref: "#/components/schemas/CampagneImportInput"
        - type: object
          properties:
            id: { type: string, format: uuid }
            campagne_id: { type: string, format: uuid }

    MargeExceptionInput:
      type: object
      required: [article]
      properties:
        article:
          type: string
          description: Doit exister dans `products` pour ce site.
        categorie: { type: string }
        raison:
          type: string
          description: Non obligatoire, mais fortement recommandé.
    MargeException:
      allOf:
        - $ref: "#/components/schemas/MargeExceptionInput"
        - type: object
          properties:
            id: { type: string, format: uuid }

    Error:
      type: object
      properties:
        error:
          type: object
          required: [code, message, request_id, timestamp]
          properties:
            code:
              type: string
              enum: [INVALID_FIELD, MISSING_FIELD, UNKNOWN_REFERENCE, UNAUTHORIZED, FORBIDDEN_SCOPE, CONFLICT, INTERNAL_ERROR]
              description: Code stable, indépendant de la langue — à tester dans le code appelant plutôt que `message`.
            message: { type: string }
            field: { type: string, nullable: true }
            request_id:
              type: string
              description: Permet de retrouver l'appel exact dans le journal d'audit en cas de support.
            timestamp: { type: string, format: date-time }
      example:
        error:
          code: "INVALID_FIELD"
          message: "quantite_comptee doit être un nombre positif ou nul."
          field: "quantite_comptee"
          request_id: "req_01K123XYZ"
          timestamp: "2026-07-31T11:42:00Z"

  responses:
    BadRequest:
      description: Payload malformé, champ obligatoire manquant, ou contrainte violée.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Clé API absente ou invalide.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: Clé valide mais sans le scope requis.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Référence à une ressource inexistante (ex. article non trouvé pour ce site).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    TooManyRequests:
      description: Limite de débit dépassée. Un en-tête `Retry-After` indique le délai avant nouvelle tentative.
      headers:
        Retry-After:
          schema: { type: integer }
          description: Délai en secondes avant la prochaine tentative autorisée.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ServerError:
      description: Erreur serveur — journalisée, jamais silencieuse.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
